@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/Inter_24pt-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/Lusitana-Regular.ttf);
}


$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(254, 254, 254);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body {
  background: $color-3;
  font-family: $font-1;
  // @include verticalCenter;
}

li {
  list-style-type: none;
}