@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/Lusitana-Regular.ttf);
}

$font-1: "font-1", sans-serif;

// Mes codes couleurs
$color-1: #61dafb;
$color-2: salmon;
$color-3: #01011D;
$white: rgb(254, 254, 254);

/* Variables pour les points de rupture en responsive*/
$breakpoint-mobile: 480px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1200px;

/* Mixin pour les styles responsives */
@mixin respond-to($breakpoint) {
  @if $breakpoint ==mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }

  @else if $breakpoint ==tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }

  @else if $breakpoint ==desktop {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

body {
  background: $color-3;
  font-family: $font-1;
  // @include verticalCenter;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}